body{
    margin: 0;
    padding: 0;
    background: url(fondo2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}
.htmlimage{
    text-align: center;
    display: block;
    width: 350px;
    height: 350px;
}

tr{
    text-align: center;
}