body{
    margin: 0;
    padding: 0;
    background: url(fondo2.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
}
.htmlimage{
    text-align: center;
    display: block;
    width: 600px;
    height: 350px;
    font-weight: auto;
    text-rendering: auto;
    image-rendering: auto;
}

tr{
    text-align: center;
}

td{
    text-rendering: auto;
}
img
{
    text-rendering: auto;
    image-rendering: auto;
}